<!-- <form (ngSubmit)="save(myForm)" #myForm="ngForm">
    <label>שם מתכון</label>
    <input type="text" [(ngModel)]="newRecipe.Name" name="name">
    <br>
    <label>משך זמן הכנה</label>
    <input type="text" [(ngModel)]="newRecipe.PreparationTimeInMinute" name="time">
    <br>
    <label>רמת קושי </label>
    <input type="text" [(ngModel)]="newRecipe.Level" name="level"><br>

    <label>category</label>
    <select name="category">
        <option>משקאות</option>
        <option>בשר</option>
        <option>עוגות</option>
    </select>
<label>layers</label>
    <input type="button" value="add layer" (click)="addLayer(description.value)">
    <label>description</label>
        <input type="text" #description >
<input type="text" #comp>
<input type="button" (click)="addComponent(comp.value)">
    

    <div *ngFor="let item of newRecipe.Layers ; let i=index">
        <label>description</label>
        <input type="text" [(ngModel)]="newRecipe.Layers[i].Description" name="desc{{i}}">
        <label>components</label>
        <input type="text" *ngFor="let component of item.Components; let j=index"
            [(ngModel)]="newRecipe.Layers[i].Components[j]" name=" comp{{i}},{{j}}" (change)="addComponent(i,j)"
            [libFocus]="true">
    </div>

</form>
<div>
    <div *ngFor="let item of newRecipe.Layers ; let i=index">
        <p>{{newRecipe.Layers[i].Description}}</p>
        <div>
            <p *ngFor="let component of item.Components; let j=index">{{newRecipe.Layers[i].Components[j]}}</p>
        </div>
    </div>
</div>
 -->

<form (ngSubmit)="save(myForm)" #myForm="ngForm">

    <input type="text" name="name" placeholder="recipe name" [(ngModel)]="newRecipe.Name">
    <br>
    <input type="number" name="PreparationTimeInMinute" placeholder="preparation time in minute"
        [(ngModel)]="newRecipe.PreparationTimeInMinute">
    <br>
    <input type="number" name="Level" placeholder="level" [(ngModel)]="newRecipe.Level">
    <br>
    <select name="category" [(ngModel)]="categoryName">
        <option *ngFor="let item of category">{{item.Name}}</option>
    </select>
    <input type="url" name="Image" placeholder="Image" [(ngModel)]="newRecipe.Image">
    <br>
    <input type="checkbox" name="IsDisplay" placeholder="is display" [(ngModel)]="newRecipe.IsDisplay">
    <br>

    <!--layers-->
    <input name="description" placeholder="description" [(ngModel)]="description">
    <br>
    <input type="text" name="component" placeholder="component" [(ngModel)]="component">
    <input type="button" value="+" (click)="addComponent()">
    <br>
    <input type="button" value="add layer" (click)="addLayer()">
    <br>
    <!--Preparation-->
    <!-- <p>Preparation</p>
    <input type="text" *ngFor="let item of newRecipe.Preparation; let i=index" name="p{{i}}" #p
        [ngModel]="newRecipe.Preparation[i]" (blur)="onBlur(i,p.value)">-->
    <input type="text" name="preperation" placeholder="add preperation level" [(ngModel)]="preperLevl">
    <input type="button" value="+" (click)="addInstruction()">
    <input type="submit" value="add recipe">

</form>
<div>
    <p>components</p>
    <div *ngFor="let i of newRecipe.Layers">
        <p>{{i.Description}}</p>
        <p *ngFor=" let j of i.Components" class="component">{{j}}</p>
    </div>
    <p>instructions</p>
    <p *ngFor="let i of newRecipe.Preparation">{{i}}</p>
</div>

